---
layout: base
---

<main class="wrapper flow" data-wraps="content" id="main-content">
    {% if locale == 'zh' %}
        {% assign actions = collections.ActionsZH %}
    {% else %}
        {% assign actions = collections.ActionsEN %}
    {% endif %}

    <section data-overflow="allow" id="action">
        <h1>{{ pages.homepage.action.heading | defaultLocale: locale | capitalize }}</h1>
        <p>{{ pages.homepage.action.paragraph | defaultLocale: locale | safe }}</p>
        <div class="action-grid auto-grid">
            {% for action in actions %}
                <a href="{{ action.data.permalink }}" class="card">
                    <img src="{{ action.data.thumbnail.src }}" alt="{{ action.data.thumbnail.alt }}" width="320" height="240" class="card--image">
                    <div class="card--content">
                        <p class="card--content--heading underlined" data-color="ocean-blue">
                            {{ action.data.title }}
                        </p>
                        <p class="card--content--subtag">{{ action.data.subtag }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
</main>