---
layout: base
---

<main class="wrapper flow" data-wraps="content" id="main-content">
    <div id="intro">
        <h1>{{ nav.data | defaultLocale: locale | capitalize }}</h1>
        <p>{{ pages.data.intro.paragraph | defaultLocale: locale | safe }}</p>
    </div>

    <section id="MOE">
        {% assign energyData = productionData.data yearlyData %}
        <h2>{{ pages.data.moe.heading | defaultLocale: locale }}</h2>
            <div class="flex-wrap" data-spread >
                <p>{{ pages.data.moe.paragraph | defaultLocale: locale | safe }}<br/>
                    {{ pages.data.moe.source | defaultLocale: locale | safe }}</p>
                    <div data-production-button></div>
                </div>
            <div data-production-chart></div>
            <script src="/assets/showProduction.bundle.js" type="module" async></script>
        <div class="table-wrapper">
            <table>
                <caption data-align="left">
                    <h3>{{ pages.data.globalCarbon.table.caption | defaultLocale: locale }}</h3>
                    <p>{{ pages.data.globalCarbon.table.note | defaultLocale: locale | safe }}</p>
                </caption>
                <thead>
                    <tr>
                        <td rowspan="3" style="border-top: none;border-left: none;"></td>
                        {% for data in energyData %}
                            <th colspan="{{ data.years.size | times: 12 }}" class="decade" data-sticky data-direction="row">{{ data.decade }}'s</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    {% if forloop.first %}
                                        <th class="year" colspan="12" scope="col">{{ year.fields.Year | plus: 1911 }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <th>{{ year.fields.Month }}</th>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.pumped | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Pumped_Hydro | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.coal | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Coal | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.oil | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Oil | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.gas | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Gas | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.nuclear | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Nuclear | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.wind | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Wind | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.solar | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Solar | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.hydro | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Hydroelectric | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.geo | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Geothermal | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.biomass | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Biomass | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="energy" data-direction="row" data-sticky scope="row">{{ energyTypes.waste | defaultLocale: locale | capitalize }}</th>
                        {% for data in energyData %}
                            {% for years in data.years %}
                                {% for year in years %}
                                    <td>{{ year.fields.Waste | default: '-' }}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="global-carbon-project">
        <h2>{{ pages.data.globalCarbon.heading | defaultLocale: locale }}</h2>
        <div class="flex-wrap"  data-spread >
            <p>{{ pages.data.globalCarbon.paragraph | defaultLocale: locale | safe }}<br/>
                {{ pages.data.globalCarbon.source | defaultLocale: locale | safe }}</p>
                <div data-emissions-button></div>
        </div>
            <div data-emissions-chart></div>
            <script src="/assets/showEmissions.bundle.js" type="module" defer></script>
        <div class="table-wrapper">
            <table>
                <caption data-align="left">
                    <h3>{{ pages.data.globalCarbon.table.caption | defaultLocale: locale }}</h3>
                    <p>{{ pages.data.globalCarbon.table.note | defaultLocale: locale | safe }}</p>
                </caption>
                <thead>
                    <tr>
                        {% for year in emissionsData %}
                            <th class="charcoal">{{ year.fields.Year }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for year in emissionsData %}
                            <td>{{ year.fields.CO2 | round }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    {% include "partials/subscription" %}
</main>

