---
layout: base
---
{% assign lastMonth = productionData.latestMonth %}

{% include "partials/masthead", mastheadHeadline: headline %}
<main class="wrapper flow" data-wraps="content" id="main-content">
    <section id="intro">
        <h1>{{ site.name | defaultLocale: locale }}</h1>
        <p>{{ pages.homepage.intro | defaultLocale: locale | safe }}</p>
    </section>

    <section  data-divider="regular" id="data">
        <h2 data-style="regular">{{ pages.homepage.data.heading | defaultLocale: locale }}</h2>
        <p class="subheading underlined" data-color="ocean-green">
            {% unless locale == 'zh' %}
                {{ lastMonth.latestMonth | escape | date: "%B"}}
                {{ lastMonth.latestYear | plus: 1911}}
            {% else %}
                {{ lastMonth.latestYear | plus: 1911}}年{{ lastMonth.latestMonth }}月
            {% endunless %}
        </p>
        <div class="swiper">
            {% unless locale == 'zh' %}
                {% capture lastYearMonth %}
                    {{ lastMonth.lastYearMonth | escape | date: "%b" }}.
                    {{ lastMonth.lastYear | plus: 1911 }}
                {% endcapture %}
            {% else %}
                {% capture lastYearMonth %}
                    {{ lastMonth.lastYear | plus: 1911 }}年{{ lastMonth.lastYearMonth }}月
                {% endcapture %}
            {% endunless %}
            <!-- Grid showing Clean Energy % -->
            {% assign totalValues = lastMonth.total.lowCarbon.total %}
            {% assign totalChange = lastMonth.total.lowCarbon.change %}
            {% assign gridCols = 2 %}
            {% include "partials/homepage-grid", renewable: false %}

            {% assign totalValues = lastMonth.total.renewable.total %}
            {% assign totalChange = lastMonth.total.renewable.change %}
            {% assign gridCols = 3 %}
            <!-- Grid showing Renewable Energy % -->
            {% include "partials/homepage-grid", renewable: true %}
        </div>
    </section>
    {% capture swiper %}
        {% include "../_bundle/scripts/swiper.js" %}
    {% endcapture %}
    <script>{{ swiper }}</script>

    <section data-divider="regular" data-overflow="allow" id="action">
        {% assign homepageActions = collections.homepageActionsEN %}

        {% if locale == zh %}
            {% assign homepageActions = collections.homepageActionsZH %}
        {% endif %}

        <h2>{{ pages.homepage.action.heading | defaultLocale: locale | capitalize }}</h2>
        <p>{{ pages.homepage.action.paragraph | defaultLocale: locale | safe }}</p>
        <div class="action-grid auto-grid">
            {% for action in homepageActions limit: 3 reversed %}
                <a href="{{ action.url }}" class="card">
                    {% image action.data.thumbnail.src,  action.data.thumbnail.alt, "300, 600", "(min-width: 780px) 321px, (min-width: 580px) 252px, (min-width: 540px) calc(100vw - 28px), calc(9.55vw + 442px)" %}
                    <div class="card--content">
                        <p class="card--content--heading underlined" data-color="ocean-blue">
                            {{ action.data.title }}
                        </p>
                        <p class="card--content--subtag">{{ action.data.subtag }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="cta-button-holder">
            <a class="link--button" href="/{{ locale }}/actions">{{ pages.homepage.action.cta | defaultLocale: locale }}</a>
        </div>
    </section>


    <section id="news">
        {% assign localeNews = news | getLocalized: locale %}

        <h2>{{ pages.homepage.news.heading | defaultLocale: locale | capitalize }}</h2>
        <p>{{ pages.homepage.news.paragraph | defaultLocale: locale | safe }}</p>

        <div class="article--holder">
            {% for story in localeNews limit: 5 %}
                <div class="article">
                    <small>{{story[1].publishedDate | date: "%B %e, %Y"}}
                        |
                        {{ story[1].platform }}</small>
                    <a href="{{ story[1].link }}" data-external class="article--title">{{ story[1].title }}</a>
                    <p class="article--author" data-color="ocean-green">{{ story[1].author }}</p>
                </div>
            {% endfor %}
        </div>

    </section>
</main>