---
layout: layouts/base
---
{% assign lastMonth = productionData.latestMonth %}

{% include "partials/masthead", mastheadHeadline: headline %}
<main class="wrapper" data-wraps="content" id="main-content">
    <h1>{{ site.name | defaultLocale: locale }}</h1>
    <p>{{ page.homepage.intro | defaultLocale: locale | safe }}</p>
    <section id="data">
        <h2 data-style="regular">{{ page.homepage.data.heading | defaultLocale: locale }}</h2>
        <p class="subheading underlined" data-color="ocean-green">
            {% unless locale == 'zh' %}
                {{ lastMonth.latestMonth | escape | date: "%B"}},
                {{ lastMonth.latestYear | plus: 1911}}
            {% else %}
                {{ lastMonth.latestYear | plus: 1911}}年{{ lastMonth.latestMonth }}月
            {% endunless %}
        </p>
        <p>{{ page.homepage.data.paragraph | defaultLocale: locale | safe }}</p>
        <div class="swiper">
            {% unless locale == 'zh' %}
                {% capture lastYearMonth %}
                    {{ lastMonth.lastYearMonth | escape | date: "%b" }}.
                    {{ lastMonth.lastYear | plus: 1911 }}
                {% endcapture %}
            {% else %}
                {% capture lastYearMonth %}
                    {{ lastMonth.lastYear | plus: 1911 }}年{{ lastMonth.lastYearMonth }}月
                {% endcapture %}
            {% endunless %}
            <!-- Grid showing Clean Energy % -->
            {% assign totalValues = lastMonth.total.lowCarbon.total %}
            {% assign totalChange = lastMonth.total.lowCarbon.change %}
            {% assign gridCols = 2 %}
            {% include "partials/homepage-grid", renewable: false %}

            {% assign totalValues = lastMonth.total.renewable.total %}
            {% assign totalChange = lastMonth.total.renewable.change %}
            {% assign gridCols = 3 %}
            <!-- Grid showing Renewable Energy % -->
            {% include "partials/homepage-grid", renewable: true %}
        </div>
    </section>
</main>