---
layout: base
---
<main class="wrapper flow" data-wraps="content" id="main-content">
    <section id="news">
        <h1>{{ pages.news.heading | defaultLocale: locale | capitalize }}</h1>
        <p>{{ pages.news.paragraph | defaultLocale: locale | safe }}</p>
        {% assign sortedNews = news | sortByPublished %}
        <div class="article--holder">
            {% for story in sortedNews %}
            {% if story[1].publishedDate %}    
            <div class="article">
                <small>{{story[1].publishedDate | date: "%B %e, %Y"}}
                    |
                    {{ story[1].platform }}</small>
                <a href="{{ story[1].link }}" data-external class="article--title">{{ story[1].title }}</a>
                <p class="article--author" data-color="ocean-green">{{ story[1].author }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% include "partials/subscription" %}
</main>