<footer class="footer">
    <div class="wrapper">
        <div class="maintainer">
            <p>
                {{ partial.footer.maintainer | defaultLocale: locale | safe }}
            </p>
        </div>
        <div class="subscription">
            <p>{{ partial.footer.subscription.intro | defaultLocale: locale }}</p>
            <form
  action="https://buttondown.email/api/emails/embed-subscribe/cleanenergyprojecttw"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/cleanenergyprojecttw', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">{{ partial.footer.subscription.email | defaultLocale: locale }}</label>
  <div class="subscription--input">
      <input type="email" name="email" id="bd-email" placeholder="you@email.com" />
      <input type="hidden" value="1" name="embed" />
      <button class="link--button" type="submit">{{ partial.footer.subscription.button | defaultLocale: locale }}</button>
  </div>
</form>
<small>
  {{ partial.footer.subscribe.buttondown | defaultLocale: locale | safe }}
</small>
        </div>
        <div data-carbon id="wcb" class="carbon carbonbadge wcb-d"></div>
        <div class="social">
            <a class="icon-link" href="{{ site.contact.twitterURL }}" aria-label="Follow on Twitter">{% include "svg/twitter.svg" %}</a>
            <a class="icon-link" href="//github.com/fishintaiwan/taiwan-clean-energy-project" aria-label="View code on Github">{% include "svg/github.svg" %}</a>
            <a href="{{ site.support.kofi.url }}" class="icon-link" aria-label="Support on Ko-fi">{% include "svg/kofi.svg" %}</a>
            <a href="{{ site.support.patreon.url }}" class="icon-link" aria-label="Support on Patreon">{% include "svg/patreon.svg" %}</a>
        </div>
    </div>
</footer>

<!-- Fetch carbon data -->
<script src="/assets/carbon.bundle.js" type="module"></script>
<script nomodule src="/assets/carbon.legacy.js"></script>
