<footer class="footer">
    <div class="wrapper">
        <div class="maintainer">
            <p>
                {{ partial.footer.maintainer | defaultLocale: locale | safe }}
            </p>
        </div>
        <div class="data-source">
            <p>
                {{ partial.footer.source | defaultLocale: locale | safe }}
            </p>
        </div>
        <div data-carbon id="wcb" class="carbon carbonbadge wcb-d"></div>
        <div class="social">
            <a class="icon-link" href="{{ site.contact.twitterURL }}">{% svgImage "/src/_includes/svg/twitter.svg", "Follow on Twitter" %}</a>
            <a class="icon-link" href="//github.com/fishintaiwan/taiwan-clean-energy-project">{% svgImage "/src/_includes/svg/github.svg", "View code on Github" %}</a>
            <a href="{{ site.support.kofi.url }}" class="icon-link">{% svgImage "/src/_includes/svg/kofi.svg", "Support the project on Ko-fi" %}</a>
            <a href="{{ site.support.patreon.url }}" class="icon-link">{% svgImage "/src/_includes/svg/patreon.svg", "Support the project on Patreon" %}</a>
        </div>
    </div>
</footer>

<!-- Fetch carbon data -->
<script src="/assets/carbon.bundle.js" type="module"></script>
<script nomodule src="/assets/carbon.legacy.js"></script>
