<!-- Stylesheet -->
<link href='/assets/css/footer.css' rel="stylesheet" media="print" onload="this.media='all'">
<noscript><link href='/assets/css/footer.css' rel='stylesheet'></noscript>

<footer class="footer">
    <div class="wrapper">
        <div class="maintainer">
                {{ partial.footer.maintainer | defaultLocale: locale | safe }}
        </div>
        <div class="nav__list">
            <ul class="nav__menu-list" role="navigation">
                {% for item in nav %}
                    <li class="nav__link">
                        <a href="/{{ locale }}{{ item[1].link }}">{{ item[1] | defaultLocale: locale | capitalize }}</a>
                    </li>
                {% endfor %}      
            </ul>
        </div>
        <div data-carbon id="wcb" class="carbon carbonbadge wcb-d"></div>
        <div class="social">
            <a class="icon-link" href="{{ site.contact.twitterURL }}" aria-label="Follow on Twitter">{% include "svg/twitter.svg" %}</a>
            <a class="icon-link" href="//github.com/fershad/taiwan-clean-energy-project" aria-label="View code on Github">{% include "svg/github.svg" %}</a>
            <a href="{{ site.support.kofi.url }}" class="icon-link" aria-label="Support on Ko-fi">{% include "svg/kofi.svg" %}</a>
            <a href="{{ site.support.patreon.url }}" class="icon-link" aria-label="Support on Patreon">{% include "svg/patreon.svg" %}</a>
        </div>
    </div>
</footer>

<!-- Fetch carbon data -->
<script src="/assets/carbon.bundle.js" type="module" async></script>
<script nomodule src="/assets/carbon.legacy.js" async></script>
