<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ pageTitle }}</title>
<!-- Theme Color for Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#0F998B">
<meta name="description" content="{{ pageDescription }}">
{% noindex %}
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ site.baseUrl }}{{ page.url }}">

<!-- Gives a reference to a location in your document that may be in another language -->

{% for siteLocale in site.locales %}
            {% assign currentLocale = siteLocale.code %}
            {% assign translatedUrl = /{{ currentLocale }} %}

            {% for item in collections.all %}
                {% if item.data.translationKey == translationKey %}
                    {% if currentLocale == item.data.locale %}
                        {% assign translatedUrl = item.url %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% unless locale == currentLocale %}        
                <link rel="alternate" href="{{ site.baseUrl}}{{ translatedUrl }}" hreflang="{{ currentLocale }}">
            {% endunless %}
{% endfor %}