<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ pageTitle }}</title>
<!-- Theme Color for Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#0F998B">


<meta name="description" content="{{ pageDescription }}">
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<!-- Gives a reference to a location in your document that may be in another language -->
<link rel="alternate" href="{{ site.url }}/zh{{ page.url }}" hreflang="zh-TW">