<nav aria-label="Primary navigation" class="header__nav">
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <div class="header__logo">
        <a href="/{{locale}}/">
            <svg fill="none" height="636" viewbox="0 0 640 640" width="640" xmlns="http://www.w3.org/2000/svg">
                <style type="text/css"></style>
                <mask height="640" id="a" maskunits="userSpaceOnUse" width="640" x="0" y="-4">
                    <circle cx="320" cy="316" fill="#fff" r="316" stroke-width="7" stroke="#fff"/></mask>
                <g mask="url(#a)" stroke-width="7" stroke="#fff">
                    <path d="M652.5 502.5c0 143.417-147.82 261-332 261s-332-117.583-332-261c0-143.416 147.82-261 332-261s332 117.584 332 261z"/>
                    <path d="M121.024 496.931c12.037-2.115 24.104-5.649 35.524-10.521 4.76-2.03 9.701-3.569 14.831-5.147l.496-.152c4.922-1.514 10.022-3.081 14.99-5.136 4.76-1.97 10.094-2.955 15.596-3.971 1.576-.291 3.166-.585 4.76-.905 3.4-.682 6.864-1.714 10.184-2.755.781-.245 1.551-.49 2.312-.732 2.533-.804 4.963-1.576 7.338-2.219 2.676-.725 5.656-.624 9.343-.499l.179.006c3.532.119 7.752.248 11.757-1.054.891-.289 1.911-.383 3.383-.461l.375-.019c1.289-.065 2.958-.148 4.591-.55 1.699-.418 3.181-1.202 4.258-1.772l.12-.063c1.217-.644 1.986-1.03 2.76-1.219 2.479-.604 5.094-.562 8.243-.457l.429.014c2.905.099 6.285.214 9.676-.475a933.32 933.32 0 007.951-1.661c3.8-.805 7.565-1.603 11.356-2.335 2.998-.579 5.972-.933 9.11-1.307 2.038-.243 4.146-.494 6.374-.82 5.393-.79 11.039-1.986 16.188-4.648 2.598-1.344 5.374-1.884 8.606-2.293.618-.078 1.264-.152 1.931-.229 2.665-.305 5.677-.649 8.611-1.461 2.646-.732 5.096-1.973 7.177-3.027.327-.165.644-.326.952-.479 2.416-1.205 4.434-2.082 6.58-2.354 2.779-.351 5.477-.957 8.031-1.573.611-.148 1.211-.295 1.801-.44 1.932-.474 3.772-.926 5.638-1.295 3.197-.633 6.096-1.819 8.7-2.964.533-.234 1.05-.465 1.556-.69 2.054-.917 3.911-1.746 5.86-2.379 6.388-2.076 12.787-4.818 18.979-7.471a885.89 885.89 0 014.294-1.831c2.661-1.125 5.406-1.998 8.306-2.895l.663-.205c2.657-.821 5.451-1.685 8.195-2.765 2.008-.791 4.196-1.173 6.823-1.632l.014-.003c2.502-.437 5.433-.949 8.225-2.123 2.997-1.26 7.567-1.927 11.08-1.927.86 0 1.92.08 3.241.187l.217.018c1.215.098 2.598.211 3.979.254 2.743.085 6.385-.042 9.206-1.825 3.281-2.074 5.581-3.933 8.253-6.974 1.36-1.546 3.053-2.647 5.174-3.909l.609-.361c1.889-1.115 4.157-2.455 6.097-4.313 3.015-2.889 6.508-3.584 10.972-3.887.688-.046 1.417-.082 2.178-.119 3.87-.187 8.563-.415 12.846-2.364 2.895-1.318 3.753-4.126 3.857-6.276.104-2.164-.451-4.476-1.221-6.473-.782-2.027-1.906-4.042-3.22-5.619-.658-.788-1.437-1.556-2.332-2.151-.877-.583-2.078-1.14-3.503-1.14-.79 0-1.115-.233-1.456-.679-.507-.663-.943-1.755-1.413-3.439-.102-.365-.21-.782-.327-1.228-.331-1.274-.725-2.788-1.201-4-.639-1.631-1.907-4.081-4.72-4.928-4.902-1.476-10.008-1.653-14.599-1.811l-.321-.011c-4.842-.168-9.142-.349-13.148-1.592-3.442-1.068-7.863-1.736-11.632-2.305-.992-.15-1.939-.293-2.811-.435-1.701-.276-3.388-.868-5.424-1.582-.397-.139-.807-.283-1.233-.43-2.426-.837-5.342-1.761-8.436-1.761-1.585 0-3.237-.306-5.245-.71a67.385 67.385 0 01-.337-.068c-1.823-.368-3.97-.801-6.153-.87-2.05-.065-4.338.013-6.526.089-.964.033-1.908.065-2.805.085-3.104.066-5.868-.01-8.181-.521-2.937-.65-5.635.204-7.464.832-.322.11-.618.214-.893.309-1.591.554-2.454.854-3.277.854-2.138 0-4.205.309-5.984.575l-.092.013c-1.887.282-3.466.512-5.018.512-2.007 0-3.926.309-5.555.572l-.141.023c-1.744.28-3.197.505-4.672.505-.707 0-1.682-.121-2.985-.341a135.92 135.92 0 01-1.526-.269c-.862-.155-1.799-.323-2.633-.454-1.455-.229-3.055-.425-4.594-.413-1.505.011-3.264.219-4.857 1.043-3.079 1.592-7.289 2.202-12.129 2.325-2.375.061-4.795.004-7.19-.072l-1.29-.042c-1.93-.063-3.849-.127-5.611-.127-2.264 0-4.633-.064-7.065-.13-7.525-.203-15.667-.423-23.26 1.184-4.652.984-9.281 1.554-14.068 2.143l-1.437.177c-5.245.649-10.668 1.371-16.135 2.753-2.155.544-4.396.821-6.901 1.129l-1.383.172c-2.956.375-6.227.858-9.385 2.013-.479.175-1.313.385-2.596.687l-.328.078c-1.121.264-2.444.575-3.737.944-1.409.401-2.947.915-4.297 1.602-1.261.642-2.885 1.694-3.789 3.441-.882 1.707-2.459 2.582-5.016 2.957-1.932.284-3.819.223-5.807.159a81.955 81.955 0 00-2.721-.058c-3.397 0-6.435 1.969-8.566 3.542a81.758 81.758 0 00-2.629 2.055l-.578.464c-1.003.802-1.816 1.427-2.52 1.867-3.286 2.056-6.647 3.291-10.397 4.67-1.441.529-2.939 1.08-4.513 1.707-4.303 1.713-9.504 4.781-14.228 8.434-4.697 3.633-9.223 8.076-11.913 12.665-2.582 4.407-5.984 7.977-9.704 11.883l-.043.045c-3.656 3.838-7.625 8.011-10.614 13.299-.887 1.57-1.907 3.142-2.999 4.825-.28.43-.563.867-.851 1.314-1.367 2.122-2.795 4.418-3.88 6.764-.619 1.337-1.71 2.453-3.352 3.886-.194.17-.402.348-.619.534-1.417 1.215-3.238 2.778-4.552 4.7-.567.828-1.09 1.622-1.609 2.41-.739 1.121-1.47 2.23-2.304 3.407-1.357 1.913-2.672 3.53-3.983 4.671-1.096.953-2.373 1.999-3.716 3.099-2.7 2.211-5.669 4.642-7.977 6.986-2.419 2.457-6.335 4.866-9.636 6.599l-.201.106c-1.09.57-3.283 1.719-5.333 3.07-1.09.717-2.243 1.558-3.207 2.47-.863.816-2.034 2.106-2.454 3.781-.232.921-.391 1.802-.424 2.622-.032.804.046 1.799.518 2.768 1.121 2.302 3.422 2.581 4.064 2.659l.019.003c.292.035.424.047.515.055l-.016.034-.041.086c-.088.183-.202.423-.31.676-.199.466-.509 1.266-.558 2.22-.054 1.041-.03 2.294.416 3.406.247.615.701 1.384 1.531 1.962a4.08 4.08 0 002.618.719c1.316-.088 2.337-.779 2.737-1.057.21-.146.419-.305.614-.46zm-6.691-8.274l.004-.017-.004.017z" stroke-linecap="round" stroke-linejoin="round"/></g>
            </svg>
        </a>
    </div>
    <button aria-expanded="false" aria-haspopup="true" class="nav__button">
        <span class="nav__button-text">Menu</span>
        <svg class="nav__button-icon" height="16" id="Layer_1" style="enable-background:new 0 0 17 16;" version="1.1" viewbox="0 0 17 16" width="17" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
            <style type="text/css">
                .menu0 {
                    fill: var(--color-campfire-smoke);
                }
            </style>
            <rect class="menu0 a" height="3" width="17" y="3"></rect>
            <rect class="menu0 b" height="3" width="17" y="10"></rect>
            <!-- <rect class="menu0 c" height="3" width="11.5" y="14"></rect> -->
        </svg>
    </button>
    <ul class="nav__menu-list">
        {% for item in nav %}
            <li class="nav__link">
                <a href="/{{ locale }}{{ item[1].link }}">{{ item[1] | defaultLocale: locale | capitalize }}</a>
            </li>
        {% endfor %}

        {% for siteLocale in site.locales %}
            {% assign currentLocale = siteLocale.code %}
            {% assign translatedUrl = /{{ currentLocale }} %}

            {% for item in collections.all %}
                {% if item.data.translationKey == translationKey %}
                    {% if currentLocale == item.data.locale %}
                        {% assign translatedUrl = item.url %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            <li class="nav__link" {% if currentLocale == locale %} data-hidden="true" {% endif %}>
                <a href="{{ translatedUrl }}">{{ siteLocale.name }}</a>
            </li>
        {% endfor %}


    </ul>
</nav>