<div class="card" data-wide>
  <div class="card--content">
      <h2>{{ site.subscribe.heading | defaultLocale: locale | safe }}</h2>
      <p data-wide>{{ site.subscribe.paragraph | defaultLocale: locale | safe }}</p>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/cleanenergyprojecttw"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/cleanenergyprojecttw', 'popupwindow')"
  class="embeddable-buttondown-form"
  style="width: 100%;"
>
  <label for="bd-email">{{ site.subscribe.email | defaultLocale: locale }}</label>
  <div class="subscription--input z-reset">
      <input type="email" name="email" id="bd-email" placeholder="you@email.com" />
      <input type="hidden" value="1" name="embed" />
      <button class="link--button" type="submit">{{ partial.subscribe.button | defaultLocale: locale }}</button>
  </div>
</form>
<p data-wide>
  {{ site.subscribe.buttondown | defaultLocale: locale | safe }}
</p>
</div>
</div>